<div class="col-xs-12 table-responsive">
  <div *ngIf="items.length <= 0 ">
    <p>Voce nao possui itens para finalizar! Quer incluir <a [routerLink]="['/restaurante']">aqui?</a></p>
  </div>
  <table class="table table-striped" *ngIf="items.length > 0 ">
    <thead>
      <tr>
        <th class="text-center">Quantidade</th>
        <th>Item</th>
        <th>Descrição</th>
        <th class="text-right">Subtotal</th>
        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td class="text-center">
          <a (click)="emitDecreaseQty(item)" class="btn btn-sm"><i class="fa fa-minus"></i></a>
          {{item.quantity}}
          <a (click)="emitEncreaseQty(item)" class="btn btn-sm"><i class="fa fa-plus"></i></a>
        </td>
        <td>{{item.menuItem.name}}</td>
        <td>{{item.menuItem.description}}</td>

        <td class="text-right">{{item.value() | currency : 'BRL' : true}}</td>
        <td class="text-right">
          <a (click)="emitRemoveQty(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <a class="btn btn-sm"><i class="fa fa-minus"></i></a>
          1
          <a class="btn btn-sm"><i class="fa fa-plus"></i></a>
        </td>
        <td>Croissant</td>

        <td>Recheado com presunto e queijo</td>
        <td class="text-right">R$ 10,00</td>
        <td class="text-right">
          <a class="btn btn-sm danger "><i class="fa fa-remove"></i></a>
        </td>
      </tr>

    </tbody>
  </table>
</div>